body {
  font-family: 'Raleway', sans-serif;
}

main {
  max-width: 32em;
  margin: 0 auto;
}

input, textarea, select {
  display: block;
  margin: 2ex 0;
  width: 100%;
  font-size: 150%;
}

.intersection {
  display: flex;
  margin: 2ex 0;
}

.intersection select {
  flex: 3;
  margin: 0;
}
.intersection .and {
  flex: 0 0 2em;
  text-align: center;
}
